@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

body {
    background: white;
    height: auto;
  }

  .container{
    justify-content: center;
}

.offcanvas-body{
  background-color: #007B5C;
}

.offcanvas-header{
  background-color: #007B5C;
}

.offcanvas {
  width : 250px !important;
}

.sideBar {
  width: 40%;
  position: fixed;
  height: 100%;
  background-color: red;
}

.downIcon {
  margin-left: 8px;
  color: white;
}

.format { 
  font-family: Inter;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
}

.checkHeaderRight {
  display: flex;
  height: auto;
  justify-content: left;
  align-items: center;
}

.logo{
  margin-left: 20px;
}

.checkHeaderLeft{
  height: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header {
  /* position: fixed; */
  width: 100%;
  height: auto;
  background-color: #007B5C;
}

.textOrderItems{
  font-weight: bold ;
  font-size: 14px;
  font-family: Inter;
  color: #1A1D1F;

}

.textItem {
    height: 50px;
    margin-left: 20px;
}

.textItemBottom {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  margin-left: 26px;
}

.check {
  height: auto;
}

.check1 {
  height: 50px;
  background-color: red;
}

.btn-work{
  float: left;
}

.hearderTrack {
  height: auto;
}

.textItem1 {
  font-family: Inter;
  color: #1A1D1F;
  height: auto;
  margin-bottom: auto;
  margin-left: 26px;
}

.textItem2 {
  float: right;
  height: auto;
  margin-top: 15px;
  margin-bottom: auto;
  margin-right: 26px;
}

.textTop {
  font-family: Inter;
  font-size: 14px;
  /* margin-left: 5px; */
}

.textTopShip {
  font-family: Inter;
  font-size: 14px;
}

.buttonTopLeft1 {
  border-radius: 5px;
  height: 40px;
  width: auto;
  box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
  background-color: #007B5C;
  border: none;
}

.space{
  width: 20px;
}

.buttonTopLeft{
  border-radius: 5px;
  height: 40px;
  width: auto;
  box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
  background-color: #FBBC05;
  border: none;
}

.buttonTop {
  float: right;
  border-radius: 31px;
  height: 40px;
  width: 152px;
  box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
  margin-right: 20px;
  background-color: #FF9838;
  border: none;
}

.avartaAdmin {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #FFD79D;
}

.avartaAdminMenu {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFD79D;
}

.textMenu {
  font-family: Inter;
}

.user {
  font-family: Inter;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.userMenu {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
}

.checkHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBottom {
  font-size: 12px;
  margin-left: 5px;
  color: #6F767E;
}

.orderItem {
  overflow: auto;
  padding-left: 3px;
  width: 98%;
    height: auto;
}

.buttonAdd{
  float: right;
  margin-right: 20px;
}

.bottomOrder {
  position : absolution;
  border: 1px solid #E0E0E0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: auto;
}

.rightOrder {
  margin-top: 20px;
  margin-right: 20px;
  float:right;
}

.table {
  width: 100%;
  overflow: auto;

}

.orderItemOn {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}

.imgOrder {
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

.bottomRight {
  width: 100%;
  height: auto;
}

.textFloat{
  float: right;
  font-family: Inter;
  font-size: 14px;
  color: #1A1D1F;
}

.textBottom{
  font-family: Inter;
  font-size:  12px;
}

.textFloatTotal{
  float: right;
  margin-top: 10px;
  font-family: Inter;
  font-size: 14px;
}

.bottomRightEqu {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: auto;
  float: right;
}

.bottomRightEqu1 {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20%;
  height: auto;
  float: right;
}

.textItemOrderAdd{
  color: white;
}

.textItemOrder {
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  color: #1A1D1F;
}

.textItemOrderTKN{
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  color: #1A1D1F;
}

.textItemOrderPrice{
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  color: #1A1D1F;
  width: 100px;
}

.textItemTop {
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  color: white;
  line-height: 24px;
}

.textItemOrder3 {
  margin-top: 10px;
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
}

.textItemOrder1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold ;
  font-size: 14px;
}

.textItemOrderIn {
  font-family: Inter;
  font-style: normal;
  font-weight: normal ;
  font-size: 14px;
}


.textItemTop {
  width: 100%;
  font-weight: bold;
  font-family: Inter;
  margin-right: 10px;
  font-size: 14px;
  color: white;
}

.textItemTopInvite{
  font-family: Inter;
  font-size: 14px;
  line-height: 28px;
  color: white;
}

.iconEdit {
  float: right;
  margin-right: 10px;
}

.iconDelete {
  float: right;
}

.divHrTop{
  justify-content: center;

}

.textBottomOrder {
  font-size: 14px;
  float:right;
}

  .bodyAll {
    width: 70%;
  }

  .divBodyHeader {
    margin-top: 10px;
    height: auto;
  }

  .texTopBot{ 
    font-family: Inter;
    font-size: 12px;
    margin-left: 8px;
    color: #6F767E;
  }
  
  .textBack {
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .textBackTop {
    font-size:20px;
    font-family: Inter;
    color: #1A1D1F;
  }

  .textBackBottom {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #6F767E;
  }

  .buttonB {
    width: auto;
  }

  .coppiedIcon {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .buttonBack {
    width: 40px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .divBodyTop {
    overflow: auto;
    height: auto;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
  }

  .iconAdd{
    margin-right: 10px;
  }

  .iconAdd1{
    margin-right: 10px;
    margin-bottom: 4px;
  }


  .selectInModal {
    font-family: Inter;
    font-size: 14px;
  }

  .centerTracking{
    margin-left: 20px;
    margin-right: 20px;
  }

  .textTkn { 
    font-family: Inter;
    font-size: 14px;
  }

  .footerModal {
    height: 30px;

  }

  .checkIcon {
    margin-left: 10px;
    /* marg
    in-bottom: 10px; */
  }

  .scoll {
    overflow: auto;
  }

  .checkIconBot{
    margin-bottom: 5px;
  }

  .textTime {
    font-family: Inter;
    float: right;
    font-size: 12px;
    color: #6F767E;
    margin-top: 3px;
  }

  .hrPoi {
    border-left: 3px solid #6F767E;
    height: 50px;
    margin-left: 15px;
  }

  
  .border {
    border-top: 3px solid #212224;
    width: 40px;
    margin-right: 15px;
  }

  .status {
    margin-left: 20px;

  }
  
  .textTknBot {
    font-family: Inter;
    font-size: 12px;
    color: #1A1D1F;
  }

  .contaiText { 
    margin-left: 10px;
  }

  .contaiText1 { 
    margin-left: 10px;
  }

  .stepper {
    padding-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: auto;
  }
  
  .divBodyLeft {
    height: auto;
    background: white;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
  }
  
  .modalAddTrack {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .divBodyBottom {
    height: auto;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
  }

  .testContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color: red;
  }

  .testCon1 {
    position: absolute;
    width: 80%;
    height: 1000px;
    background-color: blue
  }

  .hrSize{
    margin-left: 26px;
    margin-right: 26px;
  }

 

  .divHr{
    justify-content: center;
  }

  
  .test{
    height: 30px;
    background-color: red;
  }
  
  /* navbar */
  .navbar {
    background-color: #10663e;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #10663e;
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    display: block;
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 40px;
    color: white;
  }
  
  .textMenu{
    margin-left: 10px;
    color: white;
    font-family: Inter;
    font-size: 16px;
  }
  
  .topMenu {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 87%;
    height: 30px;
    background-color: #10663e;
  }
  .hrSpace {
    width: 100%;
    height: 20px;
  }
  
  .headerMenu{ 
    height: 50px;
    margin-left: 5px;
  }

  /* .iconInvite {
    mar
  } */
  .headerMenuIcon {
    margin-left: 6px;
    color: white;
    border-radius: 5px;
    background-color: #FF9838;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .iconHeaderMenu{
    margin-right: 10px;
    color: white;
    size: 16px;
  }
  
  .iconHeaderMenuClose{
    color: white;
    size: 16px;
  }
  
  
  .itemMenu {
    margin-top: 10px;
    width: 87%;
    background-color: #007B5C;
    height: auto;
    border-radius: 5px;
  }
  
  /* .iconMenuBar {
    margin-left: 20px;
    color: white;
    font-size: 16px;
  } */
  
  .itemMenuActive {
    margin-top: 15px;
    width: 87%;
    background-color: #FBBC05;
    height: auto;
    border-radius: 5px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items1 {
    width: 100%;
    background-color: red;
  }
  .nav-menu-items {
    width: 100%;
    position: relative;
  }
  
  .bottomMenu {
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: red;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .colorHref {
    color: blue;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
  }

  .colorHrefTKN{
    color: blue;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }

  .divBodyRight {
    height: auto;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-bottom: 10px;
}





/* @media only screen and (max-width: 992px){
  .stepper {
    margin-left: 50px;
  }
} */

@media only screen and (max-width: 2040px) and (min-width: 1400px) {
  .textItem1 {
    margin-top: 25px;
  }

  .stepper {
    margin-left: 0px;
  }

}


@media only screen and (max-width: 1399px) and (min-width: 1199px) {
  .textItem1 {
    margin-top: 15px;
  }

  .tdHeader {
    width: auto;
  }

  .tdHeaderShip{
    width: auto;
  }

  .stepper {
    /* margin-left: 10px; */
  }

  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }
  
  .colorHref{
      font-size: 9px;
  }

  .texTopBot {
    font-size: 9px;
  }
}



@media only screen and (max-width: 1199px) and (min-width: 993px) {
  .textItem1 {
    margin-top: 25px;
  }

  .iconEdit{
    float: right;
    margin-right: 10px;
  }

  .iconDelete{
      float: right;
  }

  /* .stepper {
    margin-left: 30px;
  }

   */
  .stepper {
    /* margin-left: 145px; */
  }

  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }

  .colorHref{
    font-size: 9px;
  }

  .texTopBot {
    font-size: 9px;
  }

  .border {
    width: 30px;
  }

  .tdHeader {
    width: 130px;
  }

  .tdHeaderShip{
    width: 100px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 767px){
  .container {
    max-width: 100% !important;
  }
  
  .textItem1 {
    margin-top: 25px;
  }
  
  .textItem2 {
    /* float: none; */
    margin-left: 26px;
    margin-top: 15px;
  }

  .checkHeaderRight {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: left;
    align-items: center;
  }

  .iconEdit{
    float: right;
    margin-right: 10px;
  }

  .iconDelete{
      float: right;
  }

  .divHrTop{
    justify-content: center;
    margin-top: 30px;
  }

  .textItemOrder1 {
    font-size: 12px;
  }

  .textItemOrder {
    font-size: 12px;
  }

  .textItemOrderTKN, .colorHrefTKN{
    font-size: 12px;
  }



  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }

  .texTopBot {
    font-size: 9px;
  }

  .colorHref{
    font-size: 9px;
  }

  .border {
    width: 30px;
  }

  .tdHeader {
    width: 130px;
  }

  .tdHeaderShip{
    width: 100px;
  }
}

.iconMenu {
  font-size: 20px;
  color: white;
  display: none;
}


@media only screen and (max-width: 767px) and (min-width: 576px) {
  .user { 
    margin-right: 20px;
  }

  .textItemOrder1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold ;
    font-size: 12px;
  }
  .textItemOrderTKN, .colorHrefTKN{
    font-size: 12px;
  }

  .container {
    max-width: 100% !important;
  }

  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }

  .texTopBot {
    font-size: 9px;
  }

  .colorHref{
    font-size: 9px;
  }
  
  .tdHeader {
    width: 130px;
  }

  .tdHeaderShip{
    width: 100px;
  }

  .textItem1 {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .textItemOrderPrice{
    width: 120px;
  }

  .textItemOrderTKN, .colorHrefTKN{
    font-size: 12px;
  }

  .textItemOrder1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold ;
    font-size: 12px;
    width: 250px;
  }
  
  .textItem1 {
    margin-top: 25px;
  }

  .textItem2 {
    float: left;
    margin-left: 26px;
  }

  .container {
    max-width: none !important;
  }

  .tdHeader {
    width: 130px;
  }

  .tdHeaderShip{
    width: 100px;
  }

  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }

  .texTopBot {
    font-size: 9px;
  }

  .colorHref{
    font-size: 9px;
  }
}

.buttonCloseMenu { 
  color: white;
}


@media only screen and (max-width: 954px) {
  
  .iconMenu {
    display: block;
  }
  
  .buttonTopLeft1 {
    display: none;
  }

  .buttonTopLeft {
    display: none;
  }

  .buttonTop{
    display: none;

  }

  .avartaAdmin {
    display: none;
    
  }

  .user{
    display: none;

  }
}

@media only screen and (min-width: 954px) {
 
}

@media only screen and (max-width: 1005px)  {
  
}

