@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

body {
    background: white;
    height: auto;
  }

  .headerChar{
    height: auto;

  }

  .anticon svg {
    margin-bottom: 5px !important;
}

.ant-btn {
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  height: 37px !important;
  border: 1px solid #E0E0E0 !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
}

  .searchBar {
    margin-left: 10px;
    float: right;
    width: calc(100% - 50px);
    margin-left: 0px;
  }

  .searchBar1 {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    width: calc(100% - 60px);
    margin-left: 0px;
  }

  .iconSeacrh {
    height: 37px;
    width: 37px;
    align-items: center;
    background: #FFFFFF;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 5px;
  }

  .form {
    position: relative
}

.form-select{
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  margin-left: 10px !important;
  width: auto !important;
  height: 37px !important;
  background-color:#EFEFEF !important;
}

.form-select1 {
  float: right;
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  width: 100% !important;
  height: 37px !important;
  border: 1px solid #E0E0E0 !important;
  border-radius: 5px !important;
  background-color:white !important;
}

.orderFirst {
  width: 50px;
}

.orderSecond {
  width: 400px;
}

.orderThird {
  width: 180px;
}

.textOrderRight{
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.form .bi-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af
}

.rowOrderLeft{
  height: 60px;
  display: flex;
  align-items: center;
}

.rowOrderRight{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.textOrder {
  padding-left: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px
}

.form-input:focus {
  box-shadow: none;
  border: none
}

.bi-search {
  font-size: 15px !important;
  color: #6F767E66;
}

.iconSearch {
  margin-left: 10px;
  display:flex;
  height: 37px;
  width: 37px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-right: 0px solid;
  border-left: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-control {
    background: #FFFFFF !important;
    border-left: 0px solid !important;
    border-right: 1px solid #E0E0E0 !important;
    border-bottom: 1px solid #E0E0E0 !important;
    border-top: 1px solid #E0E0E0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    height: 37px !important;
    font-family: Inter !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    color: #9A9FA5 !important;
    align-items: center !important;
    box-shadow: none !important;
}

  .inputSearch {
    margin-left: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #9A9FA5;
    width: 95.6% !important;
  
  }

  .textOrderLink {
    font-style: italic;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #2F80ED;
  }

  .dangerIcon {
    margin-left: 10px;
  }

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 7px 7px !important;
  }

  .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0px !important;
  }
  

  .buttonChar{
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .buttonChar2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .container{
    justify-content: center;
}

.charNumber {
  display:flex;
  justify-content: center;
  align-items: center;
}

.bodyDaily{
}

.enter1 {
  height: 15px;
}

.tableCharNumber {
  padding-left: 20px ;
  padding-right: 20px ;
}


.tableCharNumber1, .tableCharNumber2, .tableCharNumber3, .tableCharNumber4,
.tableCharNumber5, .tableCharNumber6 {
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}

.formatTable{
  height: auto;
  display:flex;
  justify-content: center;
}


.formatTableIcon {
  display:flex;
  justify-content: center;
}

.tableChar{
  width: 100%;
}

.enterTable {
  height: 15px;
}

.tableCharNumber1{
  color: #FF9D33;
}

.statusFill {
  background-color: #E4E5E7;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 78px;
  height: 20px;
  border-radius: 10px;
}

.statusUnFill {
  background-color: #FFEA8A;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 93px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.statusPayment {
  background-color: #6FCF97;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 57px;
  height: 20px;
  border-radius: 10px;
}

.statusPaymentV{
  background-color: #FFC8C0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 73px;
  height: 20px;
  border-radius: 10px;
}

.statusPaymentA {
  background-color: #FFD79D;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98px;
  height: 20px;
  border-radius: 10px;
}


.svgFill {
  margin-left: 5px;
}

.textFill {
  margin-left: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #202223;
}

.tableCharNumber2{
  color: #FF1956;
}

.tableCharNumber3{
  color: #579BFC;
}

.tableCharNumber4{
  color: #784CD1;
}

.tableCharNumber5{
  color: #00C875;
}

.tableCharNumber6{
  color: #E2445C;
}



.enter {
  height: 30px;
}

.headerButtonChart {
  height: auto;
}

.iconButtonChart {
  margin-left: 5px;
  margin-right: 10px;
  padding-bottom: 2px;
}

.buttonChartOn { 
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #33383F;
}

.buttonChart1 {
  border: 1px solid #E0E0E0;
  background: #EFEFEF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: auto;
  height: 32px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonChart {
  border: 1px solid #E0E0E0;
  background: #EFEFEF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: auto;
  height:32px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 17px;
}

.headerButtonChartIn {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
}

.textBottomChart {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
color: #6F767E;
padding-top: 0px;
margin-left: 5px;
margin-bottom: 20px;
}

.iconBottomChart1 {
  width: 17px;
  height: 17px;
  left: 0px;
  top: 0px;
  background: #219653;
  border-radius: 3px;
  padding-top: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.iconBottomChart {
  width: 17px;
  height: 17px;
  left: 0px;
  top: 0px;
  background: #83BF6E;
  border-radius: 3px;
  padding-top: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.textPrice {
  margin-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.svgNumber {
  margin-left: 5px;
}

.apexcharts-zoom-icon, .apexcharts-reset-icon, .apexcharts-menu-icon {
  display: none;
}

.chartNumberIn {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #83BF6E;
}

.chartNumberOn {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FF6A55;
}

.chartNumber {
  margin-left: 10px;
  background-color: #EAFAE5;
  width: auto;
  height: 24px;
  border-radius: 4px;
  display:flex;
  /* justify-content: center; */
  align-items: center;
}

.chartNumberForce {
  margin-left: 10px;
  background-color: #FFD8D3;
  width: auto;
  height: 24px;
  border-radius: 4px;
  display:flex;
  /* justify-content: center; */
  align-items: center;
}

.textReport {
  margin-top: 20px;
  margin-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  color: #000000;
}

.textDaily {
  margin-top: 20px;
  margin-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.dailyReport{
  width: 100%;
  height: 300px;
  background-color: red;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
}

.charLeft {

  height: 300px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
}

.charRight {
  height: 300px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
}

.offcanvas-body{
  background-color: #007B5C;
}

.offcanvas-header{
  background-color: #007B5C;
}

.offcanvas {
  width : 250px !important;
}

.sideBar {
  width: 40%;
  position: fixed;
  height: 100%;
  background-color: red;
}

.downIcon {
  margin-left: 8px;
  color: white;
}

.downIcon1 {
  margin-right: 10px;
}

.downIcon2 {
  margin-right: 10px;
  margin-left: 15px;
}

.checkOutLink {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #202223;
}

.viewAs {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #202223;
}

.format { 
  font-family: Inter;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
}

.checkHeaderRight {
  display: flex;
  height: auto;
  justify-content: left;
  align-items: center;
}

.logo{
  margin-left: 20px;
}

.checkHeaderLeft{
  height: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header {
  /* position: fixed; */
  width: 100%;
  height: auto;
  background-color: #007B5C;
}

.allOrder { 
  width: 100%;
  height: auto;
}

.textOrderItems{
  font-weight: bold ;
  font-size: 14px;
  font-family: Inter;
  color: #1A1D1F;

}


.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  padding: 5px 5px !important;
}

.textNameOrder {
  margin-left: 5px;
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #33383F;
  /* or 150% */
}

.textOrderItems2{
  margin-left: 5px;
  font-size: 14px;
  font-family: Inter;
  color: #33383F;
}


.textItem {
    height: 50px;
    margin-left: 20px;
}

.textItemBottom {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  margin-left: 26px;
}

.check {
  height: auto;
}

.check1 {
  height: 50px;
  background-color: red;
}

.btn-work{
  float: left;
}

.hearderTrack {
  height: auto;
}

.textItem1 {
  font-family: Inter;
  color: #1A1D1F;
  height: auto;
  margin-bottom: auto;
  margin-left: 26px;
}

.textItem2 {
  float: right;
  height: auto;
  margin-top: 15px;
  margin-bottom: auto;
  margin-right: 26px;
}

.textTop {
  font-family: Inter;
  font-size: 14px;
  /* margin-left: 5px; */
}

.textTopShip {
  font-family: Inter;
  font-size: 14px;
}

.buttonTopLeft1 {
  border-radius: 5px;
  height: 40px;
  width: auto;
  box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
  border: none;
}

.space{
  width: 20px;
}

.space1{
  width: 30px;
}

.buttonTopLeft{
  border-radius: 5px;
  height: 40px;
  width: auto;
  box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
  border: none;
}

.buttonTop {
  float: right;
  border-radius: 31px;
  height: 40px;
  width: 152px;
  box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
  margin-right: 20px;
  background-color: #FF9838;
  border: none;
}

/* dropdown */

.buttonTopViewAdd {
  cursor: pointer;
  border-radius: 31px;
  height: 40px;
  width: 152px;
  box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
  margin-right: 20px;
  background-color: #07523F;
  border: none;
}

.dropdown-content-seller {
  width: 210px;
  border-radius: 8px;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.buttonCoppy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 100px;
  height: 40px;
  background: #EFEFEF;
/* Natural/10 */

border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 5px;
}

.iconCoppyLink {
  margin-right: 10px;
}

.iconOpenLink{
  color: white;
  margin-right: 10px;
  margin-bottom: 3px;
}

.dropdown-content-seller span {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  border-radius: 8px;

}

.dropdown-content-seller span:hover {background-color: #f1f1f14f}
.dropdownSeller:hover .dropdown-content-seller {
  display: block;
}

.dropdownSeller:hover .buttonTopViewAdd {
  background-color: #064737;
}

/* enddropdown */

.avartaAdmin {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #FFD79D;
}

.dropdown-content-admin {
  right: 0;
  width: 194px;
  border-radius: 8px;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-content-admin span {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  border-radius: 8px;

}

.dropdown-content-admin span:hover {background-color: #f1f1f14f}
.dropdownAdmin:hover .dropdown-content-admin {
  display: block;
}

.dropdownAdmin:hover .avartaAdmin {
  background-color: #c9aa7c;
}

/* enddropdown */



.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.avartaAdmin {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #FFD79D;
}

.avartaAdminMenu {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFD79D;
}

.textMenu {
  font-family: Inter;
}

.user {
  font-family: Inter;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.userMenu {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
}

.checkHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBottom {
  font-size: 12px;
  margin-left: 5px;
  color: #6F767E;
}

.orderItem {
  overflow: auto;
  padding-left: 3px;
  width: 98%;
    height: auto;
}

.buttonAdd{
  float: right;
  margin-right: 20px;
}

.bottomOrder {
  position : absolution;
  border: 1px solid #E0E0E0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: auto;
}

.rightOrder {
  margin-top: 20px;
  margin-right: 20px;
  float:right;
}

.table {
  width: 100%;
  overflow: auto;

}

.orderItemOn {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}

.imgOrder {
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

.imgOrder1 {
  margin-left: 20px;
  height: 50px;
  width: 50px;
}

.heightTextChart {
  height: 30px;
  display: flex;
  align-items: flex-start;
}

.textChart {
  margin-left: 20px;
  margin-top: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.imgOrder2 {
  margin-left: 30px;
  height: 50px;
  width: 50px;
}

.formatHr {
  margin-top: 4px;
  margin-bottom: 4px;
  height: 1px;
  border-top: 1px solid #E4E4E4;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
}

.imgOrder4 {
  height: 50px;
  width: 50px;
}

.bottomRight {
  width: 100%;
  height: auto;
}

.textFloat{
  float: right;
  font-family: Inter;
  font-size: 14px;
  color: #1A1D1F;
}

.textBottom{
  font-family: Inter;
  font-size:  12px;
}

.textFloatTotal{
  float: right;
  margin-top: 10px;
  font-family: Inter;
  font-size: 14px;
}

.bottomRightEqu {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: auto;
  float: right;
}

.bottomRightEqu1 {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20%;
  height: auto;
  float: right;
}

.textItemOrderAdd{
  color: white;
}

.textItemOrder {
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  color: #1A1D1F;
}

.textItemOrderTKN{
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  color: #1A1D1F;
}

.textItemOrderPrice{
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  color: #1A1D1F;
  width: 100px;
}

.textItemTop {
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  color: white;
  line-height: 24px;
}

.textItemOrder3 {
  margin-top: 10px;
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
}

.textItemOrder1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold ;
  font-size: 14px;
}

.textItemOrder4{
  font-family: Inter;
  font-style: normal;
  font-weight: bold ;
  font-size: 14px;
  padding-left: 20px;
}

.textItemOrder2 {
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  padding-left: 20px;
}

.showMore {
  width: 24px;
  height: 24px;
  float: right;
  background: #EFEFEF;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
  border: none;
}

.hrModal {
  height: 0.8px;
  background: #b8b8b8;
}

.textItemOrderTrackingNumber {
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 0px;
}

.textItemOrderTracking {
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #33383F;

}

.textItemOrderIn {
  font-family: Inter;
  font-style: normal;
  font-weight: normal ;
  font-size: 14px;
}


.textItemTop {
  width: 100%;
  font-weight: bold;
  font-family: Inter;
  margin-right: 10px;
  font-size: 14px;
  color: white;
}

.textItemTopInvite{
  font-family: Inter;
  font-size: 14px;
  line-height: 28px;
  color: white;
}


.iconEdit {
  float: right;
  margin-right: 10px;
}

.iconDelete {
  float: right;
}

.divHrTop{
  justify-content: center;

}

.textBottomOrder {
  font-size: 14px;
  float:right;
}

  .bodyAll {
    width: 70%;
  }

  .divBodyHeader {
    margin-top: 10px;
    height: auto;
  }

  .texTopBot{ 
    font-family: Inter;
    font-size: 12px;
    margin-left: 8px;
    color: #6F767E;
  }
  
  .textBack {
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .textBackTop {
    font-size:20px;
    font-family: Inter;
    color: #1A1D1F;
  }

  .textBackBottom {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #6F767E;
  }

  .buttonB {
    width: auto;
  }

  .coppiedIcon {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .buttonBack {
    width: 40px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textNewStore {
  margin-left: 10px;
}

.switchActive {
  width: 57px !important;
}

.ant-switch {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.ant-switch-checked {
  background-color: #007B5C !important;
}


  .divBodyTop {
    overflow: auto;
    height: auto;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
  }

  .iconAdd{
    margin-right: 10px;
  }

  .iconAdd1{
    margin-right: 10px;
    margin-bottom: 4px;
  }

   .iconAdd2{
    margin-right: 10px;
    margin-bottom: 2px;
  }


  .selectInModal {
    width: 100%;
    height: 37px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding-left: 5px;
    color: #6F767E;
  }

  .inputInModal{
    width: 100%;
    height: 37px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding-left: 5px;
    color: #6F767E;
  }

  .textInModal {
    font-family: Inter;
    font-size: 14px;
  }

  .centerTracking{
    margin-left: 20px;
    margin-right: 20px;
  }

  .textTkn { 
    font-family: Inter;
    font-size: 14px;
  }

  .footerModal {
    height: 30px;

  }

  .checkIcon {
    margin-left: 10px;
    /* marg
    in-bottom: 10px; */
  }

  .scoll {
    overflow: auto;
  }

  .checkIconBot{
    margin-bottom: 5px;
  }

  .textTime {
    font-family: Inter;
    float: right;
    font-size: 12px;
    color: #6F767E;
    margin-top: 3px;
  }

  .hrPoi {
    border-left: 3px solid #6F767E;
    height: 50px;
    margin-left: 15px;
  }

  
  .border {
    border-top: 3px solid #212224;
    width: 40px;
    margin-right: 15px;
  }

  .status {
    margin-left: 20px;

  }
  
  .textTknBot {
    font-family: Inter;
    font-size: 12px;
    color: #1A1D1F;
  }

  .contaiText { 
    margin-left: 10px;
  }

  .contaiText1 { 
    margin-left: 10px;
  }

  .stepper {
    padding-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: auto;
  }
  
  .divBodyLeft {
    margin-right: 10px;
    margin-top: 18px;
    height: auto;
    background: white;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
  }

  .divBodyLeft1 {
    margin-top: 10px;
    height: auto;
    background: white;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
  }
  
  .modalAddTrack {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .divBodyBottom {
    height: auto;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
  }

  .testContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color: red;
  }

  .contaiBodyOrder {
    display: flex;
    justify-content: center;
    height: auto;
  }

  .bodyHeaderIn {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }

  .menuBar {
    float: left;
    width: 37px;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .textStores {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: blue;
  }

  .filterBar {
    width: auto;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .searchBar, .storesBar, .searchBar1{
    margin-top: 10px;
    margin-bottom: 10px;
  }

.textFilter {
  margin-right: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #33383F;
}

  .storesBar1 {
    margin-right: 10px;
  }

  .formatTableSearch {
    width: 100% !important;
  }

  .iconBody {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .bodyHeader{
    
    width: 98%;
    background: white;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #E0E0E0;
  }

  .test{
    width: 100%;
    height: auto;
    background-color: red;
  }

  .testIn{
    background-color: red;
    height: 100px;
    width: 100%;
    justify-content: center;
  }

  .testOn{
    background-color: blue;
    height: 100px;
    width: 100%;
  }

  .bodyBody1 {
    width: 98%;
    height: auto;
    align-items: center;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-bottom: 0px;
    border-right: 1px solid #E0E0E0;
  }

  .bodyBody {
    width: 98%;
    height: auto;
    align-items: center;
    background: white;
    border-top: 0px;
    border-left: 1px solid #E0E0E0;
    border-bottom: 0px;
    border-right: 1px solid #E0E0E0;
  }

  .bodyBodyTable {
    overflow: auto;
    width: 98%;
    height: auto;
    align-items: center;
    background: white;
    border-top: 0px;
    border-left: 1px solid #E0E0E0;
    border-bottom: 0px;
    border-right: 1px solid #E0E0E0;
  }
  
  .bodyBodyBottom{
    width: 98%;
    height: auto;
    align-items: center;
    background: white;
    border-top: 0px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-left: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
  }

  .textHeaderDont{
    padding-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
    height: 100%;
    /* border-bottom: 3px solid green; */
    font-family: Inter;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
  }

  .textHeader {
    padding-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
    height: 100%;
    border-bottom: 3px solid green;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .testCon1 {
    position: absolute;
    width: 80%;
    height: 1000px;
    background-color: blue
  }

  .hrSize{
    margin-left: 26px;
    margin-right: 26px;
  }

 

  .divHr{
    justify-content: center;
  }

  .contaiHeaderOrders{
    height: auto;
  }

  .contaiHeaderOrdersLeft{
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .buttonOrders, .buttonOrders1 {
    margin-right: 8px;
    border-radius: 5px;
    height: 40px;
    width: 101px;
    box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
    background-color: #007B5C;
    border: none;
    color: white;
    font-size: 14px;
    font-family: Inter;
  }

  .buttonOrders3 {
    margin-right: 8px;
    border-radius: 5px;
    height: 40px;
    width: 149px;
    box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
    background-color: #007B5C;
    border: none;
    color: white;
    font-size: 14px;
    font-family: Inter;
  }

  .convertTextTable {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }

  .buttonOrders1 {
    margin-right: 10px;
  }

  

  .buttonOrders2 {
    margin-right: 8px;
    border-radius: 5px;
    height: 40px;
    width: 127px;
    box-shadow:  0px 0px 0px rgba(0, 0, 0, 0);
    background-color: #007B5C;
    border: none;
    color: white;
    font-size: 14px;
    font-family: Inter;
  }

  .titleOrders {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contaiHeaderOrdersRight {
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  /* navbar */
  .navbar {
    background-color: #10663e;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #10663e;
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }

  .nav-menu.active {
    display: block;
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 40px;
    color: white;
  }
  
  .textMenu{
    margin-left: 10px;
    color: white;
    font-family: Inter;
    font-size: 16px;
  }
  
  .topMenu {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 87%;
    height: 30px;
    background-color: #10663e;
  }
  .hrSpace {
    width: 100%;
    height: 20px;
  }
  
  .headerMenu{ 
    height: 50px;
    margin-left: 5px;
  }

  /* .iconInvite {
    mar
  } */
  .headerMenuIcon {
    margin-left: 6px;
    color: white;
    border-radius: 5px;
    background-color: #FF9838;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .iconHeaderMenu{
    margin-right: 10px;
    color: white;
    size: 16px;
  }
  
  .iconHeaderMenuClose{
    color: white;
    size: 16px;
  }
  
  
  .itemMenu {
    margin-top: 10px;
    width: 87%;
    background-color: #007B5C;
    height: auto;
    border-radius: 5px;
  }
  
  /* .iconMenuBar {
    margin-left: 20px;
    color: white;
    font-size: 16px;
  } */
  
  .itemMenuActive {
    margin-top: 15px;
    width: 87%;
    background-color: #FBBC05;
    height: auto;
    border-radius: 5px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items1 {
    width: 100%;
    background-color: red;
  }
  .nav-menu-items {
    width: 100%;
    position: relative;
  }
  
  .bottomMenu {
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: red;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .colorHref {
    color: blue;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
  }

  .colorHrefTKN{
    color: blue;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }
  
  .colorHrefTKN2{
    color: blue;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding-left: 20px;
  }

  .divBodyRight {
    margin-left: 10px;
    margin-top: 18px;
    height: auto;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.divBodyRight1 {
  margin-left: 10px;
  margin-top: 10px;
  height: auto;
  background: white;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-bottom: 10px;
}




/* @media only screen and (max-width: 992px){
  .stepper {
    margin-left: 50px;
  }
} */

@media only screen and (max-width: 2040px) and (min-width: 1400px) {
  .textItem1 {
    margin-top: 25px;
  }

  .stepper {
    margin-left: 0px;
  }

}


@media only screen and (max-width: 1399px) and (min-width: 1199px) {
  .textItem1 {
    margin-top: 15px;
  }

  .tdHeader {
    width: auto;
  }

  .tdHeaderShip{
    width: auto;
  }

  .stepper {
    /* margin-left: 10px; */
  }

  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }
  
  .colorHref{
      font-size: 9px;
  }

  .texTopBot {
    font-size: 9px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 993px) {
  .ant-btn {
    width: 100% !important;
  } 

  .switchActive {
    width: 40px !important;
  }

  .textOrderRight {
    padding-left: 3px;
    padding-right: 3px;
  }

  .searchBar {
    width: calc(100% - 60px);
    margin-top: 10px;
    margin-right: 10px;
  }
  .storesBar {
    margin-left: 10px;
    margin-top: 0px;
  }
  .filterBar {
    margin-top: 0px;
  }
  
  .divBodyLeft, .divBodyLeft1 {
    margin-right: 0px;
  }

  .divBodyRight, .divBodyRight1 {
    margin-left: 0px;
  }
  
  .buttonChart {
    margin-top: 10px;
    margin-bottom: 7px;
  }

  .textItem1 {
    margin-top: 25px;
  }

  .iconEdit{
    float: right;
    margin-right: 10px;
  }

  .switchActive {
    width: 40px !important;
  }

  .iconDelete{
      float: right;
  }

  /* .stepper {
    margin-left: 30px;
  }

  

   */
  .stepper {
    /* margin-left: 145px; */
  }

  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }

  .colorHref{
    font-size: 9px;
  }

  .texTopBot {
    font-size: 9px;
  }

  .border {
    width: 30px;
  }

  .tdHeader {
    width: 130px;
  }

  .tdHeaderShip{
    width: 100px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 767px){
  .container {
    max-width: 100% !important;
  }

  .switchActive {
    width: 30px !important;
  }

  .textOrderRight, .textOrder, .form-select1, .textNameOrder, .convertTextTable, .textStores {
    font-size: 12px !important;
  }

  .textOrderRight {
    padding-left: 3px;
    padding-right: 3px;
  }

  .ant-btn {
    width: 100% !important;
  }

  .searchBar {
    width: calc(100% - 60px);
    margin-right: 10px;
    margin-top: 10px;
  }
  .storesBar {
    margin-left: 10px;
    margin-top: 0px;
  }
  .filterBar {
    margin-top: 0px;
  }

  .divBodyLeft, .divBodyLeft1 {
    margin-right: 0px;
  }

  .divBodyRight, .divBodyRight1 {
    margin-left: 0px;
  }
  
  .buttonChart {
    margin-top: 10px;
    margin-bottom: 7px;
  }
  
  .textItem1 {
    margin-top: 25px;
  }
  
  .textItem2 {
    /* float: none; */
    margin-left: 26px;
    margin-top: 15px;
  }

  .checkHeaderRight {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: left;
    align-items: center;
  }

  .iconEdit{
    float: right;
    margin-right: 10px;
  }

  .iconDelete{
      float: right;
  }

  .divHrTop{
    justify-content: center;
    margin-top: 30px;
  }

  .textItemOrder1 {
    font-size: 12px;
  }

  .textItemOrder {
    font-size: 12px;
  }

  .textItemOrderTKN, .colorHrefTKN{
    font-size: 12px;
  }



  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }

  .texTopBot {
    font-size: 9px;
  }

  .colorHref{
    font-size: 9px;
  }

  .border {
    width: 30px;
  }

  .tdHeader {
    width: 130px;
  }

  .tdHeaderShip{
    width: 100px;
  }
}

.iconMenu {
  font-size: 20px;
  color: white;
  display: none;
}


@media only screen and (max-width: 767px) and (min-width: 576px) {
  .divBodyLeft, .divBodyLeft1 {
    margin-right: 0px;
  }


  .switchActive {
    width: 30px !important;
  }

  .textOrderRight {
    padding-left: 3px;
    padding-right: 3px;
  }

  .textOrderRight, .textOrder, .form-select1, .textNameOrder, .convertTextTable, .textStores  {
    font-size: 12px !important;
  }

  .ant-btn {
    width: 100% !important;
  }

  .searchBar {
    width: calc(100% - 60px);
    margin-right: 10px;
    margin-top: 10px;
  }
  .storesBar {
    margin-left: 10px;
    margin-top: 0px;
  }
  .filterBar {
    margin-top: 0px;
  }

  .divBodyRight, .divBodyRight1 {
    margin-left: 0px;
  }
  
  .buttonChart {
    margin-top: 10px;
    margin-bottom: 7px;
  }

  .user { 
    margin-right: 20px;
  }

  .textItemOrder1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold ;
    font-size: 12px;
  }
  .textItemOrderTKN, .colorHrefTKN{
    font-size: 12px;
  }

  .container {
    max-width: 100% !important;
  }

  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }

  .texTopBot {
    font-size: 9px;
  }

  .colorHref{
    font-size: 9px;
  }
  
  .tdHeader {
    width: 130px;
  }

  .tdHeaderShip{
    width: 100px;
  }

  .textItem1 {
    margin-top: 25px;
  }
}

.ant-btn {
  width: 100% !important;
} 

@media only screen and (max-width: 575px) {
  .divBodyLeft, .divBodyLeft1 {
    margin-right: 0px;
  }

  .switchActive {
    width: 30px !important;
  }
  
  .textOrderRight {
    padding-left: 3px;
    padding-right: 3px;
  }

  .textOrderRight, .textOrder, .form-select1, .textNameOrder, .convertTextTable, .textStores  {
    font-size: 12px !important;
  }

  .ant-btn {
    width: 100% !important;
  }

  .searchBar {
    width: calc(100% - 60px);
    margin-right: 10px;
    margin-top: 10px;
  }
  .storesBar {
    margin-left: 10px;
    margin-top: 0px;
  }
  .filterBar {
    margin-top: 0px;
  }

  .divBodyRight, .divBodyRight1 {
    margin-left: 0px;
  }
  
  .buttonChart {
    margin-top: 10px;
    margin-bottom: 7px;
  }

  .textItemOrderPrice{
    width: 120px;
  }

  .textItemOrderTKN, .colorHrefTKN{
    font-size: 12px;
  }

  .textItemOrder1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold ;
    font-size: 12px;
    width: 250px;
  }
  
  .textItem1 {
    margin-top: 25px;
  }

  .textItem2 {
    float: left;
    margin-left: 26px;
  }

  .container {
    max-width: none !important;
  }

  .tdHeader {
    width: 130px;
  }

  .tdHeaderShip{
    width: 100px;
  }

  .textTop {
    font-size: 10px;
    /* margin-left: 5px; */
  }

  .texTopBot {
    font-size: 9px;
  }

  .colorHref{
    font-size: 9px;
  }
}

.buttonCloseMenu { 
  color: white;
}


@media only screen and (max-width: 1099px) {
  
  .iconMenu {
    display: block;
  }
  
  .buttonTopLeft1 {
    display: none;
  }

  .buttonTopLeft {
    display: none;
  }

  .buttonTop,.dropdownSeller{
    display: none;
  }

  .avartaAdmin {
    display: none;
    
  }

  .user{
    display: none;
  }
}

@media only screen and (min-width: 954px) {
 
}

@media only screen and (max-width: 1005px)  {
  
}

